{
  "extends": "airbnb",
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }]
  },
  "plugins": ["jest"],
  "parser": "babel-eslint",
  "env": {
    "jest/globals": true,
    "browser": true,
    "commonjs": true,
    "es6": true,
    "jest": true,
    "node": true
  }
}
